<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');   

#logo em{
  font-size: 55%;
  color: #000000;
}

#logo h3{
  font-size: 400%;
  line-height: 200px;
  font-weight: bold;
  font-family: "Roboto";
  color: #FFFFFF;
}

#logo span {
  color:red;    
}

#logo {
  text-align: center;
  height: 200px;
  background-color: grey;
}
</style>
  <link rel="icon" href="https://s3.amazonaws.com/jwm-product-images/gearproImages/parachuteImage.ico" type="image/x-icon" />
<div id="logo">
<h3>GearPro<em>D<span>z</span></em></h3> 
</div>

## Welcome to GearPro Dz 

GearPro Dz is a Drop Zone Gear Management System. 

- Track pack jobs
- Maintain logbooks on parachute systems
- Track contractor packs
- Maintain accurate log records
- Add and remove parachute systems
- Manage packing team 
- In sequence or out of sequence log entries
- Full parachute lor record with repack info
- Line set Tracking 

### Download Packing Control Dashboard
